.background{
    background-image: url("../../images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

@media only screen and (max-width: 600px)  {
    .background{
        height: 85vh;
    }
}